include ../../blocks/button/button.pug
include ../../blocks/client-form/client-form.pug
include ../../blocks/container/container.pug
include ../../blocks/dash/dash.pug
include ../../blocks/enegryValue/enegryValue.pug
include ../../blocks/filter-range/filter-range.pug
include ../../blocks/filter-search/filter-search.pug
include ../../blocks/footerPage/footerPage.pug
include ../../blocks/input-bigData/input-data.pug
include ../../blocks/input-data/input-data.pug
include ../../blocks/login/login.pug
include ../../blocks/navBar/navBar.pug
include ../../blocks/pop-up-menu/pop-up-menu.pug
include ../../blocks/products/products.pug
include ../../blocks/recipe-modal/recipe-modal.pug
include ../../blocks/recipes/recipes.pug
include ../../blocks/registr/registr.pug
include ../../blocks/row/row.pug
include ../../blocks/search/search.pug
include ../../blocks/table/table.pug
include ../../blocks/win-modal/win-modal.pug
include ../../blocks/title/title.pug
include ../../blocks/client-form/__btn/client-form__btn.pug
include ../../blocks/enegryValue/__result/enegryValue__result.pug
include ../../blocks/filter-range/__slider/filter-range__slider.pug
include ../../blocks/filter-range/__slider-scale/filter-range__slider-scale.pug
include ../../blocks/filter-range/__slider-secScale/filter-range__slider-secScale.pug
include ../../blocks/filter-range/__slider-toggle/filter-range__slider-toggle.pug
include ../../blocks/filter-range/__value/filter-range__value.pug
include ../../blocks/filter-range/__values/filter-range__values.pug
include ../../blocks/footerPage/__email/footerPage__email.pug
include ../../blocks/footerPage/__email-block/footerPage__email-block.pug
include ../../blocks/footerPage/__info/footerPage__info.pug
include ../../blocks/footerPage/__info-descr/footerPage__info-descr.pug
include ../../blocks/footerPage/__info-descr-imp/footerPage__info-descr-imp.pug
include ../../blocks/footerPage/__socNet/footerPage__socNet.pug
include ../../blocks/footerPage/__socNet-block/footerPage__socNet-block.pug
include ../../blocks/navBar/__content/navBar__content.pug
include ../../blocks/navBar/__link/navBar__link.pug
include ../../blocks/navBar/__logo/navBar__logo.pug
include ../../blocks/navBar/__menu/navBar__menu.pug
include ../../blocks/navBar/__logo-img/navBar__logo-img.pug
include ../../blocks/navBar/__menu-item/navBar__menu-item.pug
include ../../blocks/navBar/__menu-login/navBar__menu-login.pug
include ../../blocks/enegryValue/__descr/enegryValue__descr.pug
include ../../blocks/pop-up-menu/__block/pop-up-menu__block.pug
include ../../blocks/client-form/__sec-btn/client-form__sec-btn.pug
include ../../blocks/products/__content/products__content.pug
include ../../blocks/products/__filters/products__filters.pug
include ../../blocks/products/__table/products__table.pug
include ../../blocks/products/__table-col/products__table-col.pug
include ../../blocks/products/__table-items/products__table-items.pug
include ../../blocks/pop-up-menu/__list/pop-up-menu__list.pug
include ../../blocks/products/__table-titles/products__table-titles.pug
include ../../blocks/recipe-modal/__add-item/recipe-modal__add-item.pug
include ../../blocks/recipe-modal/__add-item-btn/recipe-modal__add-item-btn.pug
include ../../blocks/products/__table-titleCol/products__table-titleCol.pug
include ../../blocks/recipe-modal/__comments/recipe-modal__comments.pug
include ../../blocks/recipe-modal/__comments-date/recipe-modal__comments-date.pug
include ../../blocks/recipe-modal/__comments-descr/recipe-modal__comments-descr.pug
include ../../blocks/recipe-modal/__comments-item/recipe-modal__comments-item.pug
include ../../blocks/recipe-modal/__comments-delete/recipe-modal__comments-delete.pug
include ../../blocks/recipe-modal/__comments-items/recipe-modal__comments-items.pug
include ../../blocks/recipe-modal/__descr/recipe-modal__descr.pug
include ../../blocks/enegryValue/__ratio/enegryValue__ratio.pug
include ../../blocks/recipe-modal/__img-block/recipe-modal__img-block.pug
include ../../blocks/recipe-modal/__img-recipe/recipe-modal__img-recipe.pug
include ../../blocks/client-form/__input/client-form__input.pug
include ../../blocks/recipe-modal/__input-img/recipe-modal__input-img.pug
include ../../blocks/recipe-modal/__input-img-label/recipe-modal__input-img-label.pug
include ../../blocks/recipe-modal/__title/recipe-modal__title.pug
include ../../blocks/recipe-modal/__new-item/recipe-modal__new-item.pug
include ../../blocks/recipes/__btns-panel/recipes__btns-panel.pug
include ../../blocks/pop-up-menu/__list-item/pop-up-menu__list-item.pug
include ../../blocks/recipes/__item/recipes__item.pug
include ../../blocks/recipes/__item-actions/recipes__item-actions.pug
include ../../blocks/recipes/__item-img/recipes__item-img.pug
include ../../blocks/recipes/__item-info/recipes__item-info.pug
include ../../blocks/recipe-modal/__info/recipe-modal__info.pug
include ../../blocks/recipes/__item-text/recipes__item-text.pug
include ../../blocks/recipes/__search-panel/recipes__search-panel.pug
include ../../blocks/recipes/__filter-panel/recipes__filter-panel.pug
include ../../blocks/table/__line/table__line.pug
include ../../blocks/navBar/__login/navBar__login.pug
include ../../blocks/table/__item/table__item.pug
include ../../blocks/recipes/__item-title/recipes__item-title.pug
