mixin footerPage__socNet-block(mixAndMod = "")
    div.footerPage__socNet-block(class=mixAndMod)
        div.footerPage__socNet-block-item()
            span.icon-vk()
        div.footerPage__socNet-block-item()
            span.icon-ok()
        div.footerPage__socNet-block-item()
            span.icon-youtube()