extends ../layouts/main.pug
include ../include.pug

block title
    title RightFood - Рецепты

block content
    +recipes("favourite")
        +container()
            +title("Избранные цепты", "title_size-m mt-4")
            +row("mt-3")
                +recipes__search-panel("d-flex justify-content-center")
                    +input-data("Введите название блюда", "searchName", "col-11 input-data_size-s")
                    
            +row("mt-3")
                +recipes__filter-panel("d-flex justify-content-center")
                    +input-data("Примерная калорийность на 100г", "searchKcal", "col-4 input-data_size-s recipes__filter mx-4")
                    +button("#", "search-rec", "Найти", "col-2 button_size-s mx-4 theme-light")
                    +input-data("Тип рецепта", "searchType", "col-4 input-data_size-s recipes__filter mx-4")

            +row("recipes__items mt-5 justify-content-center")

    +win-modal("open-recipe")
        +container("d-flex justify-content-center")
            +recipe-modal()
                +row()
                    +title("Название блюда", "title_size-m")
                +row("d-flex justify-content-between mt-4")
                    +recipe-modal__img-recipe("IMG", "col-5")
                    +recipe-modal__info("col-6")
                        +title("Энергитическая ценность", "title_size-s")
                        +table("energyValueTable", "mt-3")
                            +table__line()
                                +table__item("Калорийность")
                                +table__item("0 г.", "table__item_right")
                            +table__line()
                                +table__item("Белки")
                                +table__item("0 г.", "table__item_right")
                            +table__line()
                                +table__item("Жиры")
                                +table__item("0 г.", "table__item_right")
                            +table__line()
                                +table__item("Углеводы")
                                +table__item("0 г.", "table__item_right")
                            +table__line()
                                +table__item("Общая масса")
                                +table__item("0 г.", "table__item_right")

                +row("d-flex justify-content-center mt-4")
                    +title("Необходимая масса блюда, г.", "title_size-s")
                    +input-data("Масса", "recipeWeight", "input-data_size-s win-modal__recipe-weight col-2 mt-2")

                +row()
                    +title("Ингирдиенты", "mt-5 title_size-s")
                    +table("productTable", "my-3")
                        +table__line()
                            +table__item("Калорийность")
                            +table__item("0 г.", "table__item_right")

                +row()
                    +title("Инструкция по приготовлению", "mt-4 title_size-s")
                    +recipe-modal__descr("", "mt-3")

                +row()
                    +recipe-modal__comments()
                        +recipe-modal__title("d-flex align-items-center mt-4")
                            +title("Комментарии", "title_size-s")
                            +button("#", "create-comment", "Оставить комментарий", "col-4 mx-3 button_size-s theme-dark")
                    +input-bigData("Введите инструкцию по приготовлению", "mt-3 input-bigData_size-s")
                    +recipe-modal__comments-items()
                        +recipe-modal__comments-item()
                            +title("Анастасия", "recipe-modal__comments-title title_size-xs")
                            +recipe-modal__comments-date("24.05.2000")
                            +recipe-modal__comments-descr("Ммм, как вкусненько!")
                            +recipe-modal__comments-delete("icon-delete", "delete-comment")
                        +recipe-modal__comments-item()
                            +title("Александр", "recipe-modal__comments-title title_size-xs")
                            +recipe-modal__comments-date("24.05.2000")
                            +recipe-modal__comments-descr("Это лучший рецепт сырников!!")
                            +recipe-modal__comments-delete("icon-delete", "delete-comment")
                        +recipe-modal__comments-item()
                            +title("Владимир", "recipe-modal__comments-title title_size-xs")
                            +recipe-modal__comments-date("24.05.2000")
                            +recipe-modal__comments-descr("Потрясающая запеканка!")
                            +recipe-modal__comments-delete("icon-delete", "delete-comment")