extends ../layouts/main.pug
include ../include.pug

block title
    title RightFood - Продукты

block content
    +products()
        +container()
            +title("Продукты", "title_size-m mt-5")
            +search("Введите название продукта", 100, "search_size-l mt-4")
            +row("d-flex justify-content-between mt-5")
                +products__filters("col-3")
                    +filter-search()
                        +title("Тип продукта", "title_size-s")
                        +pop-up-menu()
                            +search("Введите тип продукта", 100, "search_size-s mt-2")
                            +pop-up-menu__list("pop-up-menu__list_dark")
                                
                                        
                    +filter-range("kcal", "mt-5")
                        +title("Калории, Ккал", "title_size-s")
                        +filter-range__values("mt-2")
                            +filter-range__value("left")
                            +dash()
                            +filter-range__value("right")
                        +filter-range__slider()
                            +filter-range__slider-toggle("left")
                            +filter-range__slider-toggle("right")
                            +filter-range__slider-scale()
                            +filter-range__slider-secScale("left")
                            +filter-range__slider-secScale("right")

                    +filter-range("proteins", "mt-5")
                        +title("Белки, г", "title_size-s")
                        +filter-range__values("mt-2")
                            +filter-range__value("left")
                            +dash()
                            +filter-range__value("right")
                        +filter-range__slider()
                            +filter-range__slider-toggle("left")
                            +filter-range__slider-toggle("right")
                            +filter-range__slider-scale()
                            +filter-range__slider-secScale("left")
                            +filter-range__slider-secScale("right")

                    +filter-range("fats", "mt-5")
                        +title("Жиры, г", "title_size-s")
                        +filter-range__values("mt-2")
                            +filter-range__value("left")
                            +dash()
                            +filter-range__value("right")
                        +filter-range__slider()
                            +filter-range__slider-toggle("left")
                            +filter-range__slider-toggle("right")
                            +filter-range__slider-scale()
                            +filter-range__slider-secScale("left")
                            +filter-range__slider-secScale("right")

                    +filter-range("carbohydrates", "mt-5")
                        +title("Углеводы, г", "title_size-s")
                        +filter-range__values("mt-2")
                            +filter-range__value("left")
                            +dash()
                            +filter-range__value("right")
                        +filter-range__slider()
                            +filter-range__slider-toggle("left")
                            +filter-range__slider-toggle("right")
                            +filter-range__slider-scale()
                            +filter-range__slider-secScale("left")
                            +filter-range__slider-secScale("right")
                    

                +products__content("col-8")
                    +products__table()
                        +products__table-titles()
                            +products__table-titleCol("Продукт")
                            +products__table-titleCol("кКал")
                            +products__table-titleCol("Бел")
                            +products__table-titleCol("Жир")
                            +products__table-titleCol("Угл")
                            +products__table-titleCol("Гр")